:root {
    --color-yellow: rgb(239, 178, 55);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-black-1a1a1a: rgb(26, 26, 26);
    --color-gray-666666: rgb(102, 102, 102);
}